<div class="divPrincipal">
  <h2>Bienvenido, {{ usuario?.nombres }}</h2>  
</div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!--GESTION DE PACIENTES /SUPER ADMIN Y DENTISTA-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="calendar.png" 
            class="card-img-top bd-placeholder-img " 
            alt="Pacientes" 
            width="100%" 
            height="225">
            <div class="card-body">
              <h2>Alta a paciente</h2>
              <p class="card-text">
                Dar de alta o baja a pacientes.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="irAltaPaciente()">
                    Ver
                  </button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
    </div>
  </div>
