.row{
    padding: 10px;
    margin: 5px;

}

div{
    font-family: "Raleway", sans-serif;
    font-weight: 400;

}

.txt{
    font-size: 50px;
    text-align: center;
    margin: 5px;
    color: #2b9895;     
    font-weight: 500px;

}

.txt-2{
    font-size: 30px;
    text-align: center;
}

.bg{
    background-color: #76a6a5;
}

.claseBody{
    padding: 10px;
}

.contendor{
    margin: 20px;
}

.cuad{
    text-align: center;
}

.bg-C2{
    background-color: #ea9320;

}

