.scroll-area {
    max-height: 70vh;
    overflow-y: auto;
}

.list-group-item.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.list-group-item.active p, 
.list-group-item.active small, 
.list-group-item.active h6,
.list-group-item.active span {
    color: white !important;
}