
<div class="container py-4">
  <div class="mb-3 cuad">
    <h1 class="txt">Citas y cobros</h1>
    <p>Agendar y cobrar</p>
  </div>

  <!-- FILA 1 -->
  <div class="row">
    <!-- A1: Citas por fecha -->
    <div class="col-md-4">
      <h4 class="mb-3 text-primary">Citas por fecha</h4>
      <app-citas-por-fecha></app-citas-por-fecha>
    </div>

    <!-- B1: Cobrar cita -->
    <div class="col-md-8">
      <h4 class="mb-3 text-primary">Cobrar cita</h4>
        <app-citas-cobro-r></app-citas-cobro-r>
    </div>
  </div>

  <!-- FILA 2 -->
  <div class="row mt-4">
    <!-- A2: Cambiar estado de cita -->
    <div class="col-md-6">
      <h4 class="mb-3 text-primary">Cambiar estado de cita</h4>
      <app-citas-gestionar-r></app-citas-gestionar-r>

    </div>

    <!-- B2: Generar cita -->
    <div class="col-md-6">
      <h4 class="mb-3 text-primary">Generar cita</h4>
      <app-cita-nueva-paciente-r></app-cita-nueva-paciente-r>
    </div>
  </div>
</div>
